body {
  font-family: Helvetica, sans-serif;
  font-size: 0.9em;
}

h1 {
  color: #0061AA;
}
h2.login_title {
  text-align: center;
  color: #0061AA;
}
h2 {
  color: #0061AA;
}
span.label {
  font-weight: bold;
}
a {
  color: #0061AA;
  text-decoration: none;
}
a:visited {
  color: #0061AA;
  text-decoration: none;
}
a:hover {
  color: #E7E688;
  text-decoration: underline;
}
div#header {
  height: 90px;
}
div#header img {
  float:left;
}
div#header h1 {
  float:right;
}
h3.show_instructions {
  display: inline;
}
div.light {
  background-color: #f2f2f2;
  padding: 5px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#DDDDDD')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#DDDDDD');
  -moz-box-shadow: 2px 2px 2px #DDD;
  -webkit-box-shadow: 2px 2px 2px #DDD;
  box-shadow: 2px 2px 2px #DDD;
}
#error {
  color: red;
  text-align: center;
  font-size: 1.3em;
}
#login-container {
  width: 500px;
  margin: 0 auto;
}
#login-title-image {
  width: 310px;
  height: 87px;
}
#login-form {
  width: 500px;
  padding: 15px;
  margin-top: 30px;
}
#login-form form table {
  width: 70%;
  margin: 0 auto;
}
label {
  font-size: 1.1em;
  font-weight: bold;
}
input[type="submit"] {
  position: relative;
  margin-top: 10px;
  left: 240px;
}
#add_reserve_buttons {
  margin-top: 15px;
}
td.center {
  text-align: center;
}
#statuses {
  font-size: 1.5em;
}

input[type="text"], input[type="password"] {
}
#container {
  width: 960px;
  margin: 0 auto;
}
#usermenu {
  text-align: right;
}
#grid { 
  width: 100%;
  height: auto;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px;
  box-shadow: 2px 2px 2px #DDD;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#DDDDDD')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#DDDDDD');
  -moz-box-shadow: 2px 2px 2px #DDD;
  -webkit-box-shadow: 2px 2px 2px #DDD;

}
div.center {
  margin: auto; width: 70%;
}
